APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 111.229.164.29DATABASE = dynamic_tenqentUSERNAME = dynamic_tenqentPASSWORD = GXE8FyLkirteiKR8HOSTPORT = 10054CHARSET = utf8DEBUG = true[LANG]default_lang = zh-cn